@page "/ChatEmbedding"
@attribute [Authorize(Roles = "ChatEmbedding")]

<PageTitle>@Title</PageTitle>

<div>
    <div class="page-title">@BAL.Helpers.MagicHelper.探索文件庫功能名稱</div>
    <ChatEmbeddingView />
</div>

@code{
    public string Title { get; set; } = Backend.Helpers.HeaderBuilderHelper
        .GetTitle(BAL.Helpers.MagicHelper.探索文件庫功能名稱);
}
