@page "/ExpertDirectory"
@attribute [Authorize(Roles = "ExpertDirectory")]

<div>
    <div class="page-title">@BAL.Helpers.MagicHelper.目錄對應管理功能名稱</div>
    <ExpertDirectoryView PageSize="@MagicHelper.GridPageSize" />

</div>