@using Microsoft.Extensions.Configuration;
@using Microsoft.EntityFrameworkCore;
@using System.Threading.Tasks
@using System.Threading
@using System.Diagnostics
@using Microsoft.AspNetCore.Http
@using Syncfusion.Blazor.Buttons

@inject DatabaseInitService DatabaseInitService
@inject BackendDBContext context
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebHostEnvironment env
@inject IConfiguration configuration
@inject IJSRuntime JSRuntime
@inject BlazorAppContext BlazorAppContext
@inject IHttpContextAccessor httpContextAccessor

@using System.Security.Claims
@using Microsoft.AspNetCore.Hosting
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Buttons

<div class="chat">
    <div class="container">
        <div class="chat-records">
            <!-- 这里是聊天记录 -->
            <p>Message 1</p>
            <p>Message 2</p>
            <!-- 加多一些消息來觀察滾動效果 -->
            <p>Message 3</p>
            <p>Message 4</p>
            <!-- ... -->
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
            <p>Message 1</p>
            <p>Message 2</p>
            <p>Message 3</p>
            <p>Message 4</p>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message here..." style="width: 100%; padding: 5px;">
        </div>
    </div>
</div>

@*<div class="card mb-4">
    <div class="card-header bg-success text-white">
        <span class="h3">專案版本資訊</span>
    </div>
    <article class="card-body bg-light">
        <div class="h4">
            @versionNumber
        </div>
        <div class="h4">
            來源 IP : <span>@IP</span>
        </div>
    </article>
</div>
*@
@code {
    string versionNumber = "";
    string IP;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //IP = httpContextAccessor.GetConnectionIP();
            IP = BlazorAppContext.CurrentUserIP;
            Version version = System.Reflection.Assembly.GetEntryAssembly().GetName().Version;
            versionNumber = version.ToString();

            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await Task.Yield();
    }
}
